body {
  font-family: "Maven Pro", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form {
  background: rgba(179, 178, 176, 0.6);
  color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: rgb(179, 178, 176);
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.info_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-radius: 5px;
  margin: 10px;
}

.delete_btn {
  border-radius: 50%;
  position: absolute;
  margin: 0px;
  right: -10px;
  bottom: -10px;
}

.classDiv {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
